<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <%- include("./partials/nav.ejs") %>
            </div>
            <div class="col">
                <h1><%= title %></h1>
                <table class="table table-borderd text-center table-hover table-primary">
                    <thead>
                        <tr>
                            <th class="text-info" scope="col">Album Name</th>
                            <th class="text-info" scope="col">Artist Name</th>
                            <th class="text-info" scope="col">Album Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% results?.forEach(item => { %>
                            <tr>
                                <td><a href=<%= item.url %>><span class="text-danger"><%= item.name %></span></a></td>
                                <td><span class="text-danger"><%= item.artistName %></span></td>
                                <td><span class="text-danger"><%= item.price %></span></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
</body>
</html>