<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <%- include("./partials/nav.ejs") %>
            </div>
            <div class="col-md-6">
                <h1 class="text-primary"><%= title %></h1>
                <table class="table text-center table-hover table-dark">
                    <caption>List of all genres</caption>
                    <thead>
                        <tr>
                            <th class="bg-info text-white" scope="col">Genre Name</th>
                            <th class="bg-info text-white" scope="col">Album Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% genres?.forEach(genre => { %>
                            <tr>
                                <td><a class="text-danger" href=<%= genre.url %> ><%= genre.name %></a></td>
                                <% for(let key in genres_albums) { %>
                                    <% if(key == genre.name) { %>
                                        <td class="bg-secondary text-white"><%= genres_albums[key] %></td>
                                    <% } %>
                                <% } %>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>

<!-- 
    <\% genres?.forEach(genre => { %>
        <tr>
            <td><\%= genre.name %></td>
            <\% for(let key in genres_albums) { %>
                <\% if(key == genre.name) { %>
                    <td><\%= genres_albums[key] %></td>
                <\% } %>
            <\% } %>
        </tr>
    <\% }) %>
 -->