<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <%- include("./partials/nav.ejs") %>
            </div>
            <div class="col-md-4">
                <h1 class="text-primary"><%= title %></h1>
                <table class="table table-borderd text-center table-hover table-dark">
                    <caption>List of all tracks</caption>
                    <thead>
                        <tr>
                            <th class="bg-info text-white" scope="col">Track Name</th>
                            <th class="bg-info text-white" scope="col">Album Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% tracks?.forEach(track => { %>
                            <tr>
                                <td ><a class="text-white" href=<%= track.url %>><%= track.name %></a></td>
                                <td class="bg-secondary"><a class="text-white" href=<%= track.album_url %>><%= track.album_name %></a></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>