<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <%- include("./partials/nav.ejs") %>
            </div>
            <div class="col-sm-4">
                <h1 class="rounded bg-success text-white border border-primary mt-2 pt-2 pb-2 text-center"><%= title %></h1>
                <hr>
                <hr>
                <% if(albums.length) { %>
                    <h2 class="rounded bg-secondary text-white border border-primary mt-2 pt-2 pb-2 text-center">Delete these albums first</h2>
                    <ul class="nav nav-pills nav-fill">
                        <% albums.forEach(album => { %>
                            <li class="col nav-item m-1 bg-warning list-group-item"><a class="btn btn-lg text-dark" href=<%= "/catalog/album/"+album._id %>><%= album.name %></a></li>
                        <% }) %>
                    </ul>
                <% } else { %>
                    <h3 class="rounded bg-secondary text-white border border-primary mt-2 pt-2 pb-2 text-center">Are you sure you want to delete this artist?</h3>
                    <form action="" method="post">
                        <input type="hidden" name="artistid" id="artistid" required="true" value=<%= artist._id %>>
                        <button class="btn btn-lg btn-block bg-danger text-white" type="submit">Delete</button>
                    </form>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>