<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <%- include("./partials/nav.ejs") %>
            </div>
            <div class="col-sm-4">
                <h1><%= title %></h1>
                <form action="" method="post">
                    <fieldset>
                        <label for="name">Genre Name</label>
                        <input 
                            type="text" id="name" name="name" placeholder="Genre Name Goes Here...."
                            value=<%= genre?.name %>
                        >
                    </fieldset>
                    <button type="submit">Submit</button>
                </form>
                <hr>
                <hr>
                <ul>
                    <% errors?.forEach(error => { %>
                        <li><%= error.msg %> </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>