<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <%- include("./partials/nav.ejs") %>
            </div>
            <div class="col-sm-5">
                <table class="table table-dark table-hover">
                    <caption>Informations about Genre details</caption>
                    <thead>
                        <h1 class="rounded bg-success text-white border border-primary mt-2 pt-2 pb-2 text-center">Detail About <%= title %> Genre</h1>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Genre Name</th>
                            <td class="bg-info"><%= title %></td>
                        </tr>
                        <tr>
                            <th scope="row">Album Count</th>
                            <td class="bg-info"><%= genre_albums?.length %></td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <hr>
                <h3 class="rounded bg-success text-white border border-primary mt-2 pt-2 pb-2 text-center">Albums List: </h3>
                <ul class="nav nav-pills nav-fill">
                    <% if(genre_albums?.length) { %>
                        <% genre_albums?.forEach(item => { %>
                            <li class="text-primary nav-item border border-primary btn-lg mr-2 bg-warning"><a class="nav-link text-secondary" href=<%= "/catalog/album/"+item.id %> ><%= item.name %></a></li>
                        <% }) %>
                    <% } else { %>
                        <li class="text-danger">There are no albums found with this genre</li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>