<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <%- include("./partials/nav.ejs") %>
            </div>
            <div class="col-sm-4">
                <h1 class="text-info">Detail About <%= title %> Genre</h1>
                <hr>
                <hr>
                <div class="card text-center border-primary">
                    <h2 class="text-info">Genre Name: <span class="text-danger"><%= title %></span></h2>
                    <h2 class="text-info">Album Count: <span class="text-danger"><%= genre_albums?.length %> </span></h3>
                </div>

                <hr>
                <hr>
                <h3 class="text-info">Albums List: </h3>
                <ul class="nav nav-pills nav-fill">
                    <% if(genre_albums?.length) { %>
                        <% genre_albums?.forEach(item => { %>
                            <li class="text-primary nav-item border border-primary btn-lg mr-2 "><a href=<%= "/catalog/album/"+item.id %> ><%= item.name %></a></li>
                        <% }) %>
                    <% } else { %>
                        <p class="text-danger">There are no albums found with this genre</p>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>