<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <!-- 
        > It displays the title we passed in from the controller (via the render() method) 
            > and iterates through the book_list variable using the each-in-else syntax
        > A list item is created for each book displaying the book title as a link to the book's detail page followed by the author name
        > If there are no books in the book_list then the else clause is executed, and displays the text 'There are no books'
        > We use book.url to provide the link to the detail record for each book
        > This is a virtual property of the Book model which uses the model instance's _id field to produce a unique URL path

        > Of interest here is that each book is defined as two lines, using the pipe for the second line
        > This approach is needed because if the author name were on the previous line then it would be part of the hyperlink
     -->
     <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <%- include("./partials/nav.ejs") %>
              </div>
            <div class="col">
                
                <h1><%= title %> </h1>

                <ul>
                    <% if(book_list) { %>
                        <% book_list.forEach(book => { %>
                            <li><a href=<%= book.url %>><%= book.title %></a> ( <%= book.author.name %> )</li>
                        <% }) %> 
                    <% } else { %>
                        <li>There are no books</li>
                    <% } %>
                </ul>
            </div>    
        </div>
     </div>
</body>
</html>