<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <%- include("./partials/nav.ejs") %>
            </div>
            <div class="col">
                <h1><%= title %> </h1>
                <form action="" method="post">
                    <div class="form-group">
                        <% book_list.sort((a,b) => (a.title.toUpperCase() < b.title.toUpperCase()) ? -1 : (a.title.toUpperCase() > b.title.toUpperCase()) ? 1 : 0) %>
                        <label for="book">Book: </label>
                        <select name="book" id="book" class="form-control" placeholder="Select Book" required="true">
                            <% book_list.forEach(book => { %>
                                <option
                                    value=<%= book._id %> 
                                    selected=<%= selected_book === book._id.toString() ? "selected" : false %>
                                >
                                    <%= book.title %> 
                                </option>
                            <% }) %>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="imprint">Imprint: </label>
                        <input 
                            type="text" 
                            id="imprint"
                            class="form-control" 
                            name="imprint" 
                            required="true" 
                            placeholder="Publisher and date information"
                            value=<% bookinstance === undefined ? '' : bookinstance.imprint %>
                        >
                    </div>

                    <div class="form-group">
                        <label for="due_back">Date when book available: </label>
                        <input 
                            type="date"
                            name="due_back"
                            id="due_back"
                            class="form-control"
                            value=<% bookinstance === undefined ? '' : bookinstance.due_back %>
                        >
                    </div>

                    <div class="form-group">
                        <label for="status">Status: </label>
                        <select name="status" id="status" placeholder="Select Status" required="true">
                            <option value="Maintenance">Maintenance</option>
                            <option value="Available">Available</option>
                            <option value="Loaned">Loaned</option>
                            <option value="Reserved">Reserved</option>
                        </select>
                    </div>

                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>

                <!-- show errors, when any -->
                <% if(errors) { %>
                    <ul>
                        <% errors.forEach(err => { %>
                            <li><%= err.msg %></li>
                        <% }) %>
                    </ul>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>

<!-- 
    * above template hard-codes the Status values (Maintenance, Available, etc.) and does not "remember" the user's entered values
    * view structure and behavior is almost the same as for the book_form template
 -->