<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <%- include("./partials/nav.ejs") %>
            </div>
            <div class="col">
                <h1><%= title %> </h1>
                <hr>
                <h2>Book Title: <%= book.title %> </h2>
                <% if(bookinstances?.length) { %>
                    <h4>You need to delete these book instances first</h4>
                    <ul>
                        <% bookinstances.forEach(book => { %>
                            <li><a href=<%= "/catalog/bookinstance/"+book._id %> ><span><%= book.imprint %></span> - <span><%= book.status %></span></a></li>
                        <% }) %>
                    </ul>
                <% } else { %>
                    <p>Are you sure to delete this book?</p>
                    <form action="" method="post">
                        <div class="form-group">
                            <input type="hidden" name="bookid" id="bookid" required="true" value=<%= book._id %>>
                        </div>
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>