<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>    
    <div class="container">
        <%- include("./partials/navs.ejs") %>
        <h1><%= title %></h1>
        <% messages?.forEach(msg => { %>
            <div class="msg-wrapper">
                <div class="top">
                    <% if(loggedIn) { %>
                        <span class="author"><%= msg.author_name %></span>
                    <% } else { %>
                        <span class="author">Annonymous</span>
                    <% } %>
                    <h2><%= msg.title %></h2>
                </div>
                <div class="bottom">
                    <p><%= msg.body %></p>
                    <% if(loggedIn) { %>
                        <span class="d-posted"><%= msg.posted_date %></span>
                    <% } else { %>
                        <span class="d-posted">Some Day</span>
                    <% } %>
                </div>
                <% if(isAdmin && loggedIn) { %>
                    <form action="" method="post">
                        <input type="text" name="delete" value=<%= msg.delete %>  hidden>
                        <!-- <input type="text" name="delete" value="delt"  hidden> -->
                        <button type="submit"><i class="fa-solid fa-circle-xmark"></i></button>
                    </form>
                <% } %>
            </div>
        <% }) %>
    </div>
</body>
</html>