<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>African penguine - a.k.a. jackass, becuase of their distinct sound that they make</p>
    
    <p>Welcome to <%= title %></p>
    <% messages.forEach(item => { %>
      <ul>
        <li><%= item.user %> </li>
        <li><%= item.text %> </li>
        <li><%= item.added %> </li>
      </ul>
    <% }) %> 
  </body>
</html>
